
:root{
  --racerContainerVertMargin : 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: content-box;

  background-color: rgb(143, 86, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.raceContainer{
  background-color: rgb(94, 94, 94);
  position: relative;
}

.racerContainer{
  width: 60px;
  background-color: rgb(218, 69, 69);
  margin-top: var(--racerContainerVertMargin);
  margin-bottom: var(--racerContainerVertMargin);
}
